@import "../common/variables";
@import "../base/mixins";
@import "../common/typography";

.c-toaster__wrapper {
  bottom: $gutter;
  position: fixed;
  right: $gutter;
  z-index: 999;
}
.c-toaster {
  //== Children
  p {
    color: $text-secondary;
    line-height: 1.4em;
    @include font(12px)
  }
  p a {
    color: $text-primary;
    @include font(12px, 600);
  }
}
.c-toaster__btn {
  background-color: transparent;
  border: none;
  border-top: 1px solid $border-subtle;
  color: $text-secondary;
  display: block;
  flex: 0 0 50%;
  line-height: 1.1em;
  outline: none;
  padding: $gutter;
  text-align: center;
  cursor: pointer;
  transition: background-color 120ms ease-out, color 120ms ease-out;
  @include font(12px, 600);

  &:hover {
    background-color: $fill-hover;
    color: $text-primary;
  }
  & + & {
    border-left: 1px solid $border-subtle;
  }
}
