// Typography
// —————————————————————————————————

//== Mixins usage
@mixin font($size, $weight: normal){
  font-family: $font-sans;

  font-size: $size;
  font-weight: $weight;
}

@mixin section-label {
  color: $text-tertiary;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  text-transform: lowercase;
}


//== Basic
body { @include font(14px) }
a { cursor: pointer }
